@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	/*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #dc2626;
    border: 2px solid #050505;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(220, 38, 38, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #ef4444;
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #dc2626 #050505;
}

@layer base {
    h1, h2, h3, p {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
}

.text-war-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    paint-order: stroke fill;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}